In [ ]:
import pandas as pd
import numpy as np
import os
import cv2

from google.colab import drive
drive.mount('/content/drive')

# Load csv from local folder

def load_images_from_csv(csvfile):
  return pd.read_csv(csvfile)

# Load images from local folder
def load_images_from_folder(folder):
  images = []
  for filename in os.listdir(folder):
    img = cv2.imread(os.path.join(folder,filename))
    if img is not None:
      images.append(img)
      return images

imagesDF = load_images_from_folder("/content/drive/MyDrive/images")
namesDF = load_images_from_csv("/content/drive/MyDrive/pokemon.csv")

namesDF.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

AttributeError: ignored

In [ ]:
namesDF = namesDF.melt(id_vars = 'Name')
namesDF[namesDF['Name'].str.contains('venusaur')]

         Name variable   value
2    venusaur    Type1   Grass
811  venusaur    Type2  Poison